---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Features from '~/components/widgets/Features.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Vogel Tec AB',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Portfolio',
        href: getPermalink('/portfolio'),
        icon: 'tabler:briefcase',
      },
      { text: 'Contact', href: getPermalink('contact'), icon: 'tabler:mail' },
    ]}
  >
    <Fragment slot="title"> Vogel Tec AB </Fragment>
    <Fragment slot="subtitle"> Quality Software for Corporate Clients - Crafted with Expertise and Care </Fragment>
  </Hero>

  <Features
    id="features"
    tagline="Qualities"
    title="What I do"
    subtitle="Efficient, Reliable and Scalable Solutions"
    items={[
      {
        title: 'Development',
        description:
          'Specializing in TypeScript and versatile in Java, C#, Node.js, and React Native to meet diverse project needs.',
        icon: 'tabler:code',
      },
      {
        title: 'Automation & CI/CD',
        description: 'Automate builds, streamline deployment, and manage development environments effectively.',
        icon: 'tabler:components',
      },
      {
        title: 'Project Consulting',
        description: 'Offering strategic consulting on project ideas, architectures, and automation strategies.',
        icon: 'tabler:list-check',
      },
    ]}
  />

  <Content
    isReversed
    tagline="Work"
    title="More About Me"
    items={[
      {
        title: 'Philips - Patient Monitoring UI',
        description:
          'I am part of a team developing the next generation of patient monitoring systems. I lead the development environment setup and automate key processes to ensure scalability for multiple teams.',
      },
      {
        title: 'Viind GmbH - WCAG-Compliant Chatbot',
        description:
          'I am building an open-source React Native chatbot for the public sector in Germany. My focus is on accessibility and WCAG compliance, managing every step from project setup to full-stack development.',
      },
      {
        title: 'Gratwerk GmbH - Curala Medical Documentation Platform',
        description:
          'I am working as a full-stack software engineer on Curala, a modern medical documentation platform that reimagines healthcare documentation and helps doctors, therapists, and practices in their daily work.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Colorful Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Current Projects</h3>
      <p>Active across multiple sectors.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isAfterContent
    items={[
      {
        title: 'Proven Experience Since 2015',
        description:
          'I have an extensive coding background, starting with C# and Java and now specializing in web and frontend development.',
      },
      {
        title: 'Transparent and Reliable',
        description: 'I am committed to clear communication and cost transparency, ensuring smooth collaboration.',
      },
      {
        title: 'Agile Expertise',
        description:
          'I am skilled in Agile frameworks like Scrum, SAFe, and Kanban, providing structured and efficient project management.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1600132806370-bf17e65e942f?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2194&q=80',
      alt: 'Blueprint Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Why Choose Me</h3>
      <p>Your trusted partner in navigating the complexities of development.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Content
    isReversed
    isAfterContent
    items={[
      {
        title: 'Commitment to Quality',
        description: 'I am dedicated to delivering high-quality work to my clients.',
      },
      {
        title: 'Growth Plans',
        description:
          'I plan to grow Vogel Tec AB by hiring senior developers who share my values of efficiency, quality, and transparency.',
      },
      {
        title: 'Service Expansion',
        description: 'I intend to offer training for development teams to help optimize their processes.',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1611462985358-60d3498e0364?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
      alt: 'Astronauts Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Looking Ahead</h3>
      <p>Positioning Vogel Tec AB for a prosperous and impactful future.</p>
    </Fragment>

    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Content>

  <Steps
    title="Start Our Business Relationship"
    items={[
      {
        title: 'Step 1: <span class="font-medium">Reach Out</span>',
        description:
          "Send me an email or connect with me on LinkedIn. Introduce your project idea or simply say hello—I'm open to hearing what you have in mind.",
        icon: 'tabler:mail',
      },
      {
        title: 'Step 2: <span class="font-medium">Request a Skill Demonstration</span>',
        description:
          "Before committing, you can request a free, coding interview-style skill test. This allows you to see my work firsthand and ensure we're a good fit.",
        icon: 'tabler:certificate',
      },
      {
        title: 'Step 3: <span class="font-medium">Discuss Terms</span>',
        description:
          "If you're satisfied with the demonstration, we'll discuss project scope, rates, and timelines. I'm fully transparent about my current workload and pricing.",
        icon: 'tabler:message',
      },
      {
        title: 'Ready!',
        icon: 'tabler:check',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1616198814651-e71f960c3180?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=987&q=80',
      alt: 'Steps image',
    }}
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Me',
        href: getPermalink('/contact'),
        icon: 'tabler:mail',
      },
    ]}
  >
    <Fragment slot="title"> Let's Collaborate </Fragment>

    <Fragment slot="subtitle">
      I specialize in delivering tailored, high-quality software solutions. Reach out to explore how I can help.
    </Fragment>
  </CallToAction>
</Layout>
