---
import CallToAction from '~/components/widgets/CallToAction.astro';
import Content from '~/components/widgets/Content.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroText from '~/components/widgets/HeroText.astro';
import Layout from '~/layouts/PageLayout.astro';
import { getPermalink } from '~/utils/permalinks';

const metadata = {
  title: 'Services',
};
---

<Layout metadata={metadata}>
  <Hero
    tagline="Services"
    title="Custom Software Solutions for Corporate Clients"
    subtitle="At Vogel Tec AB, I specialize in crafting high-quality software solutions tailored to your unique business needs. Leveraging expertise across various programming languages and frameworks, I deliver efficient and effective solutions that address real-world challenges."
    actions={[{ variant: 'primary', text: 'Learn More', href: '#software-services' }]}
    image={{
      src: 'https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1740&q=80',
      alt: 'Custom Software Solutions',
    }}
  />

  <Features2
    id="software-services"
    title="Comprehensive Software Services"
    subtitle="Tailored solutions to meet your business needs"
    columns={3}
    items={[
      {
        title: 'Develop: Web Applications',
        description: 'Specializing in TypeScript, Angular, and React, adaptable to meet specific project needs.',
        icon: 'tabler:code',
      },
      {
        title: 'Develop: Architectures',
        description: 'Design and implement robust frontend architectures for seamless system integration.',
        icon: 'tabler:schema',
      },
      {
        title: 'Develop: Full-Stack Solutions',
        description: 'Deliver end-to-end solutions using a combination of frontend and backend technologies.',
        icon: 'tabler:arrows-split',
      },
      {
        title: 'Optimize: CI/CD Pipelines',
        description: 'Establish effective automation pipelines with GitHub Actions and Azure DevOps.',
        icon: 'tabler:automation',
      },
      {
        title: 'Enhance: Environment Management',
        description: 'Improve development environments with Docker setups and VS Code Dev Containers.',
        icon: 'tabler:device-desktop-code',
      },
      {
        title: 'Consult: Architecture',
        description:
          'Provide expert advice to evaluate and improve system architectures for scalability and maintainability.',
        icon: 'tabler:ruler',
      },
      {
        title: 'Support: Team Enablement',
        description: 'Offer team support to meet project goals, debug issues, and accelerate delivery.',
        icon: 'tabler:message',
      },
    ]}
  />

  <Content
    isReversed
    items={[
      {
        title: 'Healthcare',
        description: 'Developed patient monitoring system',
        icon: 'tabler:heartbeat',
      },
      {
        title: 'Public Sector',
        description: 'Created GDPR- and WCAG-compliant chatbots for public administrations.',
        icon: 'tabler:building',
      },
      {
        title: 'Manufacturing',
        description: 'Engineered micro-frontend compositions and enterprise software solutions.',
        icon: 'tabler:tools',
      },
      {
        title: 'Automotive',
        description: 'Built document generation and sales systems tailored for the automotive industry.',
        icon: 'tabler:car',
      },
    ]}
    image={{
      src: 'https://images.unsplash.com/photo-1525909002-1b05e0c869d8?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80',
      alt: 'Features Image',
    }}
  >
    <Fragment slot="content">
      <h3 class="text-2xl font-bold tracking-tight dark:text-white sm:text-3xl mb-2">Industries Served</h3>
      <p>I've worked across a variety of industries, including:</p>
    </Fragment>
  </Content>

  <HeroText
    title="How I Work"
    subtitle="Whether you need long-term project support or assistance with specific development tasks, I'm flexible in how I engage. My preference is to work on an hourly basis, but I'm open to discussing alternative arrangements based on your project's scope and needs."
  />

  <CallToAction
    actions={[
      {
        variant: 'primary',
        text: 'Contact Me',
        href: getPermalink('/contact'),
        icon: 'tabler:mail',
      },
    ]}
    title="Let's Talk"
    subtitle="Exploring project opportunities is always free. I also offer a free skill assessment to demonstrate my expertise and ensure I'm the right fit for your project. Let's chat about how I can help you achieve your goals."
  />
</Layout>
